# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.VCSBasics.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\jtallent\AppData\Roaming\JetBrains\Rider2020.3\resharper-host\RiderTutorials\Tutorials\T10\.idea\.idea.VCSBasics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
